/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.head{
  background-color: #0e243d;
}

.mybtn img{
  transform : scale(1,1);
  transition : all 0.2s ease-in-out;
}

.mybtn img:hover{
  transform : scale(1.3,1.3);
  transition : all 0.2s ease-in-out;
}

.navbar{
  background-color: #0e243d;
}

.carousel {
  background-color: #343a40;
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 28rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 30rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.footer{
  padding-top: 20px;
}

.aboutme{
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-space {
  margin-left: 2%;
  margin-right: 2%;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin-bottom: 1.5rem;
}

.title{
    margin-bottom: 0px;
    font-size: 1.5rem;
}

.cards{
  width: 97%;
  margin: auto;
  border-radius: 100px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

  div.mwu-master {
  min-height : 100%;
  position : relative;
  }
  section.content-wrapper {
  width : 100%;
  max-width : 1480px;
  }
  div.wrap {
  width : 100%;
  max-width : 1480px;
  margin : 0 auto;
  padding : 0 40px;
  }

  div.gamelist {
  padding : 10px;
  }
  ul.game-items {
  list-style : none;
  padding : 0 0 20px 0;
  display : flex;
  flex-wrap : wrap;
  }
  li.game-item {
  width : 33%;
  float : left;
  padding: 15px 5px 15px 5px;

  position : relative;
  }
  li.game-item .card-box {
    background-color: white;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(185, 185, 185);
  transition : all 0.2s;
  cursor : pointer;
  transform-style : preserve-3d;
  position : relative;
  z-index : 10;
  }

  li.game-item .card-box:hover {
  position : relative;
  z-index : 10;
  transform : translateY(-10px);
  box-shadow : 0 0 8px rgba(0, 0, 0, 0.30);
  }
  li.game-item .meta {
  padding : 0px 5px 5px 5px;
  text-align : center;
  position : relative;
  }
  li.game-item .meta .genres {
  color : #99a0a7;
  }

  .coverimg{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .iconimg{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 5%;
    margin-top: -50px;
  }

  .container{
      padding: 0px;
  }

  @media only screen and (max-width:1280px) {
  li.game-item {
  width : 33.333333334%;
  }
  }
  @media only screen and (min-width:150px) and (max-width:980px) {
  div.wrap {
  padding : 0 20px;
  }
  section.content-wrapper {
  padding : 20px 5px;
  margin : 0 auto;
  }
  div.paging {
  padding : 10px 15px;
  }
  div.gamelist {
  padding : 10px 5px;
  }
  li.game-item {
  width : 50%;
  }
  }
  @media only screen and (min-width:150px) and (max-width:479px) {
  div.wrap {
  padding : 0 15px;
  }
  section.content-wrapper {
  padding : 20px 0;
  margin : 0 auto;
  }
  div.paging ul li {
  display : none;
  }
  div.paging ul li.prev-page, div.paging ul li.next-page {
  display : block;
  }
  li.game-item {
  width : 100%;
  }
  }
  