html{
  scroll-behavior: smooth;
}

.about{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: rgb(136, 136, 136);
}

* {
  box-sizing: border-box;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
.gallery-item {
  flex-basis: 32.7%;
  cursor: pointer;
  /* transform: translateY(0); */
  transform: scale(1,1);
  transition : all 0.15s ease-in-out;
}
.gallery-item:hover {
  /* transform: translateY(-10px); */
  transform: scale(0.98,0.98);
  transition : all 0.15s ease-in-out;
}
.gallery-item img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.gallery-content {
  font-size: .8em;
}

.lightbox {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;              
  overflow: auto;
  top: 0;
  left: 0;
}
.lightbox-content {
  position: relative;
  width: 80%;
  height: 80%;
  top: 15%;
  margin: auto;
}
.lightbox-content img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
.lightbox-prev{
  position: absolute;
  border-radius: 0rem 1rem 1rem 0rem;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  font-size: 35px;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  top: 45%;
  cursor: pointer;
}
.lightbox-next {
  position: absolute;
  border-radius: 1rem 0rem 0rem 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 35px;
  padding: 0.5rem 0rem 0.5rem 0.5rem;
  top: 45%;
  cursor: pointer;
}
.lightbox-prev {
  left: 0;
}
.lightbox-next {
  right: 0;
}
.lightbox-prev:hover,
.lightbox-next:hover {
  opacity: .8;
}

.icon img{
    width: 60%;
    height: auto;
    display: block;
    margin: auto;
}


#myBtn {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 200;
  border: none;
  outline: none;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  padding: 6px 12px 5px 12px;
  border-radius: 50px;
  transition: visibility 0.15s, opacity 0.15s linear;
}

#myBtn:hover {
  background-color: #555;
}

.marketBtn{
  text-align: center;
  margin-top: 50px;
}

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}



.divider{
position: relative; 
top: -145px;
z-index: 100;
}

.coverImg{
  display: block;
  width: 250px;
  height: auto;
  transform : scale(1,1);
  transition : all 0.15s ease-in-out;
}

.coverImg:hover{
  transform : scale(1.05,1.05);
  transition : all 0.15s ease-in-out;
}

.logoImg {
  width: 70%;
  height: auto;
  margin: auto;
  display: block;
}

.gallery{
  padding: 0 5px 5px 0;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.head{
  background-color: black;
}

.mybtn img{
  transform : scale(1,1);
  transition : all 0.2s ease-in-out;
}

.mybtn img:hover{
  transform : scale(1.3,1.3);
  transition : all 0.2s ease-in-out;
}

.navbar{
  padding: 0;
}

.fixed-top{
  background-color: #1D1B26 !important;
}

.nav{
  float: right;
  display: inline-block;
}

.nav-item{
  padding: 10px;
  float: left;
}

.aboutme{
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aboutme .text-muted{
    color: white !important
}

.container-aboutme{
  background-color: black;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 70px;
  padding-top: 70px;

  background-image: url("../images/coverH.jpg");
  height: 100%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-gamepage{
  background-color: black;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-bottom: 70px;
  padding-top: 70px;
  background-image: url("../images/DarkAloneCover.PNG");
  height: 500px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gamepageCover{
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  margin-top: 70px;
}

.containerButtons{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin-top: 40px;
  height: 450px;
}

.containerButtons .btn{
  position: relative;
  top: 400px;
  bottom: 0;
  font-size: 20px;
  width: 150px;
  margin: auto;
  margin-right: 10px;
}


.container {
  max-width: 1220px;
}

#video-bg {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 40rem;
}
video {
  display: block;
}
.video-container {
  width: 100%;
  max-height: 40rem;
  overflow: hidden;
  z-index: -100;
}

.centerBlock {
  text-align: center;
  display: table;
  margin: auto;
}

.gamesSection{
  color: #7e7e7e;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b1b1b1;
}

.error{
  color:rgb(58, 120, 179);
  text-align: center;
  margin-top: 150px;
  margin-bottom: 25px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b1b1b1;
}

.bug{
  color:rgb(58, 120, 179);
  text-align: center;
}

.error h1{
  color:rgb(58, 120, 179);
  font-size: 55px;
}

.asd{
  display: flex;
  width: 90%;
}

.aboutSection{
  color: #7e7e7e;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 40px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b1b1b1;
}

.gallerySection{
  color: #7e7e7e;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #b1b1b1;
}

.info{
  margin-bottom:1rem;
}

.info p{
  margin: 0;
}

.gam{
  text-transform: uppercase;
}

.fab{
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  transform : scale(1,1);
  transition : all 0.2s ease-in-out;
}



.fab:hover{
  transform : scale(1.2,1.2);
  transition : all 0.2s ease-in-out;
  text-decoration: none;
}

li a:hover{
  text-decoration: none;
}

.marketing .col-lg-4 {
  margin-bottom: 10.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

footer {
  padding-top: 10rem;
  padding-bottom: 0;
  background: white;
  color: rgb(63, 63, 63);
}

.socialLinks{
  margin-top: 20px;
  margin-bottom: 20px;
}

.socialLinks p{
  color: #009fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-copyright{
  font-size: 15px;
  margin: 80px 0;
  text-align: center;
}

.footer-copyright .lead{
  font-size: 1.5rem;
}

footer .fab{
  border-radius: 50px;
  background: #868383;
  width: 70px;
  height: 70px;
  font-size: 45px;
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

.link{
  display: table;
  list-style: none;
  padding: 0;
  margin: auto;
}
.link li{
  display: inline;
  margin: 10px;
}


.btn-space {
  margin-left: 2%;
  margin-right: 2%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  margin-bottom: 1.5rem;
}

.title{
    margin-bottom: 0px;
    font-size: 1.5rem;
}

div.mwu-master {
  min-height : 100%;
  position : relative;
}

section.content-wrapper {
  width : 100%;
  max-width : 1480px;
}

div.wrap {
  width : 100%;
  max-width : 1480px;
  margin : 0 auto;
  padding : 0 40px;
}

ul.game-items {
  list-style : none;
  padding : 0 0 20px 0;
  display : flex;
  flex-wrap : wrap;
}

li.game-item {
  width : 33.333333%;
  padding: 18px 10px 18px 10px;
}

li.game-item .card-box {
  background-color: white;
  transition : all 0.2s;
  cursor : pointer;
  transform-style : preserve-3d;
  position : relative;
  z-index : 10;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(9, 21, 62, 0.15);
  box-shadow : 0 2px 10px 0px #09244138
}

.game-card{
  text-decoration: none;
  color: black;
}
.game-card:hover{
  text-decoration: none;
  color: black;
}

li.game-item .card-box:hover {
  position : relative;
  z-index : 10;
  transform : translateY(-10px);
}


li.game-item .meta {
  padding : 0px 5px 5px 5px;
  text-align : center;
}

 li.game-item .meta .genres {
  color : #99a0a7;
}

.coverimg{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.iconimg{
  height: 115px;
  width: 115px;
  position: absolute;
  left: 25%;
  right: 25%;
  margin: 0 auto;
  top: 5%;
  margin-top: -50px;
}


.caption{
  position: absolute;
  right: 15%;
  top: 30%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.caption .lead{
  font-size: 3rem;
  font-weight: 500;
  text-shadow: 1px 2px 9px #000000;
}

.video-overlay{
  position: absolute;
  width: 100%;
  height: 640px;
  z-index: 10;
  background: #1d1b261c;
  right: 0;
  top: 0;
  left: 0;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0
}

.box-shadow { 
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  border-radius: 15px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

  @media only screen and (max-width:1280px) {

  li.game-item {
  width : 33.333333334%;
  }

  .container {
    width: 98%;
  }

  }

  @media only screen and (min-width:150px) and (max-width:1150px) {

  }

  @media only screen and (min-width:150px) and (max-width:991px){
    .nav-item{
      padding: 15px;
      float: none;
    }
    .nav{
      float: none;
    }
  }

  @media only screen and (min-width:150px) and (max-width:980px) {

  div.wrap {
  padding : 0 20px;
  }

  section.content-wrapper {
  padding : 20px 5px;
  margin : 0 auto;
  }

  div.paging {
  padding : 10px 15px;
  }

  div.gamelist {
  padding : 10px 5px;
  }
  
  li.game-item {
  width : 50%;
  margin: auto;
  }


  }

  @media only screen and (min-width:150px) and (max-width:768px) {

    .icon img{
      width: 230px;
      height: auto;
      display: block;
      margin: auto;
  }

  .coverImg{
    margin: auto;
    float: none;
  }


  .text{
    text-align: center;
  }

    div.wrap {
    padding : 0 20px;
    }
  
    section.content-wrapper {
    padding : 20px 5px;
    margin : 0 auto;
    }
  
    div.paging {
    padding : 10px 15px;
    }
  
    div.gamelist {
    padding : 10px 5px;
    }
    
    li.game-item {
    width : 100%;
    margin: auto;
    }

    .caption{
      position: absolute;
      right: 15%;
      top: 10%;
      left: 15%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }

  .container-gallery .row .col-md-4{
    width: 50%;
  }
  
    }


  @media only screen and (min-width:150px) and (max-width:479px) {

  div.wrap {
  padding : 0 15px;
  }

  section.content-wrapper {
  padding : 20px 0;
  margin : 0 auto;
  }

  div.paging ul li {
  display : none;
  }

  div.paging ul li.prev-page, div.paging ul li.next-page {
  display : block;
  }

  li.game-item {
  width : 100%;
  }

  .container-gallery .row .col-md-4{
    width: 50%;
  }


}


@media (max-width: 767px) {
  .gallery-container {
      width: 100%;
  }
  .gallery-item {
      flex-basis: 49.80%;
      margin-bottom: 3px;
  }
  .lightbox-content {
    width: 95%;
    height: 50%;
      margin: 15% auto;
  }
}
@media (max-width: 480px) {
  .gallery-item {
      flex-basis: 100%;
      margin-bottom: 1px;
  }
  .lightbox-content {
      width: 90%;
      margin: 20% auto;
  }
}