html{
  scroll-behavior: smooth;
}

body{
  background-color: #f8f8f8 !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #191d21; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #005ab4; 
}

.nav{
  display: inline-block;
}

.nav-item{
  margin: 5px 4rem;
  font-size: 20px;
  float: left;
}

.nav-item a{
  text-transform: uppercase;
  transition : all 0.15s ease-in-out;
  font-size: medium;
}
.nav-item a:hover{
  transition : all 0.15s ease-in-out;
  color: #f3f3f3;
}

.navbar{
  padding: 0;
}

.container-navbar{
  margin: auto;
  width: 100%;
  display: flex;
  background-color: #191d21;
  padding: 5px;
}

.marketing{
    padding: 4rem 0;
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 0 0 10px #00000025;
    background-color: white;
    border-radius: 15px;
    width: 90%;
}

  .pad{
      padding: 1rem 5rem 1rem 5rem;
  }